



.logo {
    width:50px;
   margin-top: -13px;
}
.btn-danger:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-danger {
    color: white;
    background-color: #222222;
    border-color: #222222;
}